[submodule "libdash"]
        path = libdash
        url = https://github.com/bitmovin/libdash.git
[submodule "jsvm"]
        path = jsvm
        url = https://github.com/floriandejonckheere/jsvm.git
